In [2]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('Dataset/bots.csv')
data.head()

,Unnamed: 0,created_at,default_profile,default_profile_image,description,favourites_count,followers_count,friends_count,geo_enabled,id,lang,location,profile_background_image_url,profile_image_url,screen_name,statuses_count,verified,average_tweets_per_day,account_age_days,account_type
0,0,2016-10-15 21:32:11,False,False,"Blame @xaiax, Inspired by @MakingInvisible, us...",4,1589,4,False,787405734442958848,en,unknown,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/7874121826...,best_in_dumbest,11041,False,7.870,1403,bot
1,1,2016-11-09 05:01:30,False,False,Photographing the American West since 1980. I ...,536,860,880,False,796216118331310080,en,Estados Unidos,http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/8023296328...,CJRubinPhoto,252,False,0.183,1379,human
2,2,2017-06-17 05:34:27,False,False,Scruffy looking nerf herder and @twitch broadc...,3307,172,594,True,875949740503859204,en,"Los Angeles, CA",http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/1278890453...,SVGEGENT,1001,False,0.864,1159,human
3,3,2016-07-21 13:32:25,True,False,Wife.Godmother.Friend.Feline Fanatic! Assistan...,8433,517,633,True,756119643622735875,en,"Birmingham, AL",NaN,http://pbs.twimg.com/profile_images/1284884924...,TinkerVHELPK5,1324,False,0.889,1489,human
4,4,2012-01-15 16:32:35,False,False,Loan coach at @mancity & Aspiring DJ,88,753678,116,True,464781334,en,"England, United Kingdom",http://abs.twimg.com/images/themes/theme1/bg.png,http://pbs.twimg.com/profile_images/9952566258...,JoleonLescott,4202,True,1.339,3138,human

In [3]:
data.head(20)
#obly keep english rows
english = data[data['lang']=='en']
english.shape

#only keep 200 bots 
bot=english[english['account_type']=='bot'].sample(n=200)
#keep all humans 
human = english[english['account_type']=='human']
#concatenate 
bots_data = pd.concat([bot,human])

In [4]:
columns_to_drop = ['created_at', 'id','profile_image_url','profile_background_image_url', 'screen_name','lang']
bots_data.drop(columns_to_drop,axis=1,inplace=True)

In [5]:
#is location known
bots_data['location_known']=bots_data['location']=='unknown'

#drop original location column 
bots_data.drop('location',axis=1,inplace=True)

In [6]:
bots_data.head()

,Unnamed: 0,default_profile,default_profile_image,description,favourites_count,followers_count,friends_count,geo_enabled,statuses_count,verified,average_tweets_per_day,account_age_days,account_type,location_known
37055,37055,False,False,"The BSA Guide to UK Boarding Schools, in partn...",191,1885,1120,False,868,False,0.457,1898,bot,True
1115,1115,True,False,Keep the curiosity toward the world and passio...,897,24,27,False,1292,False,0.505,2560,bot,True
26753,26753,False,False,Visual and Graphic Designer. \nCorporate Image...,4923,626,1638,False,3534,False,1.535,2302,bot,False
16045,16045,False,False,"Adventurous Horse Person, Tea-Lover, All-Aroun...",1172,5,92,False,1611,False,0.482,3343,bot,True
33805,33805,True,False,Come to my site 🧡🧡🧡 https://t.co/qWVtL5vGgR,146,0,0,False,33,False,0.013,2581,bot,False

In [19]:
bots_data.to_csv('/users/mirapatel/Desktop/twitter_clean.csv')

In [59]:
type(bots_data['description'])

str

In [69]:
((bots_data.description.str.contains('@')) & (bots_data['account_type']=='bot')).sum()

21

In [7]:
bots_data.description.isna().sum()

0

1